*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Carbon ;
    src: url(../fonts/carbon2.otf);
}

@font-face {
    font-family: 'Facon';
    src: url(../fonts/facon.otf);
}

.header h2 , .header p{
    font-family: 'Montserrat';
    text-align: center;
    color:#fff;
}

body{
    font-family: 'Montserrat';
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    background-attachment:fixed ;
    background:url('../img/bg.jpg');
}

.navbar{
    font-family: 'Carbon';
    font-size:1.2rem;
    background: rgba(0, 0, 0, 0.336);
}

.navbar-brand {
    font-family: 'Facon';
    font-size: 2rem;
}

.navbar-brand::first-letter{
    font-size: 2.1rem;
}

#fp-nav span{
    background: #fff !important;
}

.facon{
    font-family: 'Carbon';
}

.header img{
    height:600px;
    display: block;
    transition: all ease-out 0.5s;    
}

.header .text{
    margin:15rem 0 0 0;
}

.header img:hover{
    transition: all ease-out 0.5s;    
    filter:saturate(200%);
    transform:scale(1.1)
}



.about h2{
    font-size: 3rem;
}

.about .col-md-3{
    border:1px solid #fff;
}

.box{
    margin:0.5rem 0;
    padding:1rem 0.25rem;
    border-radius: 1.5rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255 ,255 ,255, 0.1);
    border-top: 1px solid rgba(255 ,255 ,255, 0.5);
    border-left: 1px solid rgba(255 ,255 ,255, 0.5);
    overflow: hidden;
}
/*
.box .content{
    transition: all linear 0.3s;
    transform: translateY(100px);
    opacity: 0;
}

.box:hover .content{
    transform: translateY(0);
    opacity: 1;
}
 */


.about .box .icon i{
    margin:0 0.3rem 0.5rem 0;
    font-size: 1.25rem;
    color:#fff;
}

.about .icon > i{
    position:absolute;
    right:30px;
    font-size:3em !important;
    color:rgba(255 , 255 ,255, 0.2) !important;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: #fff !important;
}

.about{
    background: linear-gradient(0 , #1565c08f , #b92c2700);
}

.fh{
    background: linear-gradient(360deg ,#b92c275d, #1565c08f);
}

.sh{
    background: linear-gradient(0 , #1565c000 , #b92c275d);
}

.card-block{
    width: 100%;
    height:20rem;
    overflow: hidden;
    border-radius: 1rem;  
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(255 ,255 ,255, 0.1);
    border-top: 2px solid rgba(255 ,255 ,255, 0.1);
}

.card-img{
    width: 50%;
    height:20rem;
    float:left;
    overflow: hidden;
    background: url('../img/holo-bg.jpg');
}

.card-img-fh{
    background: url(../img/bg.jpg);
    background-size: cover;
}

.card-img .img-hover{
    width: 600px;
    position:relative;
    transition: all linear 0.3s;
    opacity:0;
}


.card-img:hover .img-def{
    width: 600px;
    transform: translateY(100%);
    transition: all linear 0.5s;
    opacity:0;
}

.card-img:hover .img-hover{
    opacity: 1;
    transition: all linear 0.5s;
    transform: translateY(-100%);
}

.card-img .img-def{
    width: 600px;
    position:relative;
    transition: all linear 0.5s;
}

.card-text{
    width: 50%;
    height:20rem;
    float:left;
    background: rgba(255 ,255 ,255, 0.1);
    padding: 1rem 0;
    overflow: hidden;
}

.card-text button{
    color:#fff;
}

.button-group{
    margin-top: 5rem;
}

.button-group button{
    border: 1px solid #fff;
    border-radius: 1rem;
}

.card-info{
    width: 100%;
    padding: 1rem 0 2rem 0;
    border-left: 2px solid rgba(255 ,255 ,255, 0.1);
    border-top: 2px solid rgba(255 ,255 ,255, 0.1);
    background: rgba(255, 255, 255, 0.144);
    overflow: hidden; 
}


.card-info-text{
    z-index: 3;
}

.card-info-text h2{
    font-family: "Montserrat";
    font-size:3rem;
}

.card-info-text p{
    font-size:1.1rem;
}

.card-info-text a.button{
    color:#fff;
    text-decoration: none;
    border:1px solid #fff;
    border-radius: none;
    padding: 0.5rem 0.5rem;
    transition: all linear 0.3s;
}

.card-info-text a.button:hover{
    background: #fff;
    color:#000;
    border-radius: 0.5rem;
    transition: all linear 0.3s;
}

.card-info .logo{
    width: 100px;
    opacity: 30%;
}

.contacts .admin{
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    background-size:cover;
    transition: all linear 0.4s;
}

.justalex{
    background: url('../img/justalex.jpg');
}

.designer{
    background: url('../img/designer.jpg');
}

.fh-developer{
    background: url('../img/fh-developer.jpg');
}


.admin img{
    width: 100%;
}

.hover-text{
    width: 100%;
    height: 10rem;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 3rem 0 0 0;
    position: relative;
    transform: translateY(15rem);
    transition: all linear 0.4s;
}

.hover-text i{
    color:#fff;
    font-size: 3rem;
}

.admin:hover .hover-text{
    transition: all linear 0.4s;
    transform: translateY(5rem);
    background: rgba(0, 0, 0, 0.4);
    
}

.admin:hover{
    transition: all linear 0.4s;
}


@media only screen and (max-width: 960px) {
    .header img{
        margin: 0 auto;
        height:340px;
    }

    .header .text {
        margin: 0rem 0 0 0;
    }

    .card-img img{
        width: 400px;
    }

    .card-block {
        height: 20rem;
    }

    .button-group{
        margin-top: 1rem;
    }

    .button-group button{
        margin-top: 0.5rem;
    }

    .contacts .admin{
        width: 11.5rem;
        height: 11.5rem;
    }

    .hover-text{
        padding: 2rem 0 0 0;
    }

    .hover-text i{
        font-size: 2.2rem;
    }

}

@media only screen and (max-width: 720px) {

}



@media only screen and (max-width: 540px) {
    .card-img .img-def {
        width: 350px;
        transform: translateY(35%);
    }
    
    
    .card-img:hover .img-def , .card-img .img-hover{
        width: 350px;

    }

    .card-img:hover .img-hover {
        transform: translateY(-65%);
    }
    
    .admin:hover .hover-text{
        transform: translateY(1.5rem);
    }

    .hover-text{
        padding: 0;
    }

    .hover-text i{
        margin-top: 0.5rem;
    }

    .contacts .admin{
        width: 10rem;
        height: 10rem;
    }
}







